body {
    background-color: black;
    background-image: url("./../img/bg.psng");
    background-size: 50px;
}

img {
    margin-top: 5px;
}

.content {
    max-width: 800px;
    margin: auto;
}

.side{
    width: 15%;
    float: left;
}

.defacto{
    width: 83%;
    float: right;    
    
}

b {
    color: darkred;
}

i {
    color:deeppink
}

p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline white;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    margin-top: 0px;
}

table, th, td {
    border: 1px solid white;
    color: white;
}



/* unvisited link */
a:link {
   color: red;  
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}
  
/* selected link */
a:active {
  color: blue;
} 